html {
  // Color theme
  --app-success: #0c6900;
  --app-success-foreground: white;
  --app-error: #9e0000;
  --app-error-foreground: white;

  // general overrides
  --mat-dialog-container-max-width: 75vw;
}
