<mat-card>
  <mat-card-content>
    <div style="text-align: right">
      <button mat-raised-button (click)="prev()" [disabled]="step === 1">
        <i class="material-icons">arrow_back</i> Previous</button>
      <button mat-raised-button color="primary" (click)="next()" [disabled]="step === 3">Next
        <i class="material-icons">arrow_forward</i>
      </button>
    </div>
  </mat-card-content>
</mat-card>

<br/>

<app-step1 *ngIf="step === 1" (completed)="nodes = $event;"></app-step1>
<app-step2 *ngIf="step === 2" [nodes]="nodes"></app-step2>
<app-step3 *ngIf="step === 3" [nodes]="nodes"></app-step3>

