<mat-card>
  <mat-card-header>
    <h2>Upload your translations</h2>
  </mat-card-header>
  <mat-card-content>
    <div class="flex flex-direction-row justify-content-center gap-5">
      @for (lang of supportedLanguages; track $index) {
      <input hidden type="file" #uploader (change)="onSelect($event, lang)" />
      <div>
        <button
          mat-flat-button
          color="primary"
          (click)="uploader.click()"
          [ngClass]="{ success: uploadStatus[lang] }"
        >
          <span class="iconized-button">
            @if(uploadStatus[lang]){
            <i class="material-icons">check</i>
            }@else{
            <i class="material-icons">file_upload</i>
            }
            <span>Upload the {{ lang.toUpperCase() }} file</span>
          </span>
        </button>
        @if(uploadData[lang] !== undefined && uploadData[lang]?.fileName !==
        undefined){
        <p class="no-top-margin text-center">
          <small>
            {{ uploadData[lang]!.fileName }} ({{ uploadData[lang]!.fileSize }}
            bytes)
          </small>
        </p>
        <p class="no-top-margin text-center">
          <small> {{ nodeCounter(lang) }} nodes </small>
        </p>
        }
      </div>
      }
    </div>
  </mat-card-content>
</mat-card>
