/* You can add global styles to this file, and also import other style files */
@import "./styles/index.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cell {
  border-bottom: 1px solid black;
  padding: 2rem;
  display: flex;
  gap: 1rem;
  & .key {
    width: 40vw;
  }

  & .content {
    flex: 3;
    & mat-card {
      &:not(:nth-child(1)) {
        margin-top: 1rem;
      }
      padding: 1rem;
    }
  }
}

.drag-over {
  border: 2px dashed #3f51b5 !important;
  background-color: rgba(63, 81, 181, 0.1) !important;
}

.step1-card {
  height: 50vh;
}

.no-value-card {
  border: 2px solid #b90f0f !important;
}
